:root {
  ---0: #111111;
  ---1: #aaaaaa;
  ---2: #dddddd;
  ---3: #ffffff;
  ---4: #001f3f;
  ---5: #0074d9;
  ---6: #7fdbff;
  ---7: #39cccc;
  ---8: #3d9970;
  ---9: #2ecc40;
  ---10: #01ff70;
  ---11: #ffdc00;
  ---12: #ff851b;
  ---13: #ff4136;
  ---14: #85144b;
  ---15: #b10dc9;
  ---16: #f012be;
}